@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.ttf') format('truetype'),
     url('./fonts/Gilroy-Medium.ttf') format('truetype'),
     url('./fonts/Gilroy-SemiBold.ttf') format('truetype'),
     url('./fonts/Gilroy-ExtraBold.ttf') format('truetype'),
     url('./fonts/Gilroy-Light.ttf') format('truetype'),
     url('./fonts/Gilroy-Heavy.ttf') format('truetype'),

         
}
*{
    font-family: 'gilroy';
}

::selection{
    color: #00c40a;

}